<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Přidat recept</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
<div id="recipes-bg"></div>
<div th:insert="navbar :: navbar"></div>

<div class="container-fluid">
    <form method="post" th:object="${client}">
        <div class="row">
            <div class="container col-4">

                <table class="mt-5 table table-dark opacity-75" style="margin-bottom: 0;">
                    <tbody>
                    <tr>
                        <th class="align-middle col-3">Recept</th>
                        <td class="text-center align-middle col-6">
                            <input id="bmrCoef" type="text" class="form-control"
                                   placeholder="název receptu">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="container col-4">
                <table class="mt-5 table table-dark opacity-75" id="ingredientsTable" style="margin-bottom: 0;">
                    <tbody id="new_ingredient">
                    <input type="hidden" value="0" id="total_ingredients">
                    <tr>
                        <th class="text-center align-middle col-3">Ingredience</th>
                        <th class="text-center align-middle text-center col-6">Gramáž</th>
                        <th class="text-center align-middle col-3">
                            <a onclick="addIngredient()" class="text-center align-middle mt-3 btn btn-primary">+</a>
                        </th>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="container col-2 ">
                <table class="mt-5 table table-dark opacity-75" style="margin-bottom: 0;">
                    <tbody>
                    <tr>
                        <th class="align-middle col-3"></th>
                        <th class="align-middle text-center col-6">Celkem</th>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Sacharidy</th>
                        <td class="text-center align-middle col-6">
                            <input type="text" disabled value="0" id="carbohydratesTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Bílkoviny</th>
                        <td class="text-center align-middle col-6">
                            <input type="text" disabled value="0" id="proteinsTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Tuky</th>
                        <td class="text-center align-middle col-6">
                            <input type="text" disabled value="0" id="fatsTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Vláknina</th>
                        <td class="text-center align-middle col-6">
                            <input type="text" disabled value="0" id="fibreTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">kJ</th>
                        <td class="text-center align-middle col-6">
                            <input type="text" disabled value="0" id="kJTotal">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div class="container col-4 opacity-75">
                <textarea class="mt-5 form-control" id="recipeDescription" placeholder="Popis receptu" rows="20"
                          name="notes"></textarea>
                <div class="row mx-auto col-5">
                    <button type="submit" class="mt-5 btn btn-success btn-lg">Uložit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $('.remove').click(function () {
        $(this).closest('tr').remove();
    });

    $('.recipeSelect').select2({
        //maximumSelectionLength: 1,
        minimumInputLength: 1,
        ajax: {
            url: '/ingredients/find',
            dataType: 'json',
            type: "GET",
            data: function (term) {
                return term;
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            id: item.id,
                            slug: item.name,
                            text: item.name
                        }
                    })
                };
            }
        }
    });

    //TODO calculation of overall nutrients/kJ for whole recipe
    //TODO adding/removing ingredients into/from recipe
    //TODO updating amount of grams of each ingredient and calculate appropriate nutrients/kJ
    //TODO posting list of ingredients with description to controller
    $(document).ready(function () {
        $(".kJcalculation").change(function () {
            var carbs = $('#carbohydrates').val();
            var proteins = $('#proteins').val();
            var fats = $('#fats').val();
            $('#carbohydrates').val(Math.round(carbs));
            $('#proteins').val(Math.round(proteins));
            $('#fats').val(Math.round(fats));
            $('#overallKj').val(Math.round((carbs * 17 + proteins * 17) + (fats * 38)));
        });
        $(".kJcalculationReverse").change(function () {
            var overall = $('#overallKj').val();
            $('#carbohydrates').val(Math.round(overall * 0.45 / 17));
            $('#proteins').val(Math.round(overall * 0.25 / 17));
            $('#fats').val(Math.round(overall * 0.30 / 38));
            $('#overallKj').val(overall);
        });
    });

    function calculateNutrients() {

    }

    function addIngredient() {
        var new_ingredient_no = parseInt($('#total_ingredients').val()) + 1;
        var new_input = '<tr id="ingredient_id_' + new_ingredient_no + '"> <td class="text-center align-middle col-6"> ' +
            '<select multiple="multiple" id="recipeSelect_' + new_ingredient_no + '" th:field="${recipe.ingredients}" class="form-control input-lg select2-calc"> </select> ' +
            '</td> <td class="text-center align-middle col-3"> <input onchange="calculateNutrients()" id="grams_' + new_ingredient_no + '" type="text" class="form-control"> ' +
            '</td> <td class="text-center align-middle col-3"> <a class="remove btn btn-danger">X</a>' +
            '<input hidden id="nutr_fats_' + new_ingredient_no + '" type="text">' +
            '<input hidden id="nutr_carbs_' + new_ingredient_no + '" type="text">' +
            '<input hidden id="nutr_fibre_' + new_ingredient_no + '" type="text">' +
            '<input hidden id="nutr_proteins_' + new_ingredient_no + '" type="text">' +
            '</td></tr>';
        $('#new_ingredient').append(new_input);
        $('#total_ingredients').val(new_ingredient_no)

        $('.remove').click(function () {
            $(this).closest('tr').remove();
            $('#total_ingredients').val($('#total_ingredients').val() - 1);
        });

        $('#recipeSelect_' + new_ingredient_no).on('select2:select', function (e) {
            var data = e.params.data;
            console.log(data);
            console.log(e.params);

            $('#nutr_fats_' + new_ingredient_no).val(data.carbs)
            $('#nutr_carbs_' + new_ingredient_no).val(data.proteins)
            $('#nutr_fibre_' + new_ingredient_no).val(data.fats)
            $('#nutr_proteins_' + new_ingredient_no).val(data.fibre)

        });

        $('#recipeSelect_' + new_ingredient_no).on('select2:unselect', function (e) {
            var data = e.params.data;
            console.log(data);
            console.log(e.params);
            $('#carbohydratesTotal').val($('#carbohydratesTotal').val() * 1 - data.carbs)
            $('#proteinsTotal').val($('#proteinsTotal').val() * 1 - data.proteins)
            $('#fatsTotal').val($('#fatsTotal').val() * 1 - data.fats)
            $('#fibreTotal').val($('#fibreTotal').val() * 1 - data.fibre)

        });

        $('#recipeSelect_' + new_ingredient_no).select2({
            maximumSelectionLength: 1,
            minimumInputLength: 1,
            ajax: {
                url: '/ingredients/find',
                dataType: 'json',
                type: "GET",
                data: function (term) {
                    return term;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                id: item.id,
                                slug: item.name,
                                text: item.name,
                                fats: item.fats,
                                proteins: item.proteins,
                                fibre: item.fibre,
                                carbs: item.carbohydrates
                            }
                        })
                    };
                }
            }
        });
    }

</script>

</body>
</html>