<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Přidat recept</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>
<body>
<div id="recipes-bg"></div>
<div th:insert="navbar :: navbar"></div>

<div class="container-fluid">
    <form method="post" th:object="${client}">
        <div class="row">
            <div class="container col-4">

                <table class="mt-5 table table-dark opacity-75" style="margin-bottom: 0;">
                    <tbody>
                    <tr>
                        <th class="align-middle col-3">Recept
                        <td class="text-center align-middle col-6">
                            <input id="bmrCoef" type="text" class="form-control"
                                   placeholder="název receptu">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="container col-4">
                <table class="mt-5 table table-dark opacity-75" id="ingredientsTable" style="margin-bottom: 0;">
                    <tbody id="new_ingredient">
                    <input type="hidden" value="0" id="total_ingredients">
                    <input type="hidden" value="0" id="new_ingredient_id">
                    <tr>
                        <th class="text-center align-middle col-3">Ingredience</th>
                        <th class="text-center align-middle text-center col-6">Gramáž</th>
                        <th class="text-center align-middle col-3">
                            <a onclick="addIngredient()" class="text-center align-middle mt-3 btn btn-primary">+</a>
                        </th>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="container col-2 ">
                <table class="mt-5 table table-dark opacity-75" style="margin-bottom: 0;">
                    <tbody>
                    <tr>
                        <th class="align-middle col-3"></th>
                        <th class="align-middle text-center col-6">Celkem</th>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Sacharidy</th>
                        <td class="text-center align-middle col-6">
                            <input class="recipe-disabled-input" type="text" disabled value="0" id="carbsTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Bílkoviny</th>
                        <td class="text-center align-middle col-6">
                            <input class="recipe-disabled-input" type="text" disabled value="0" id="proteinsTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Tuky</th>
                        <td class="text-center align-middle col-6">
                            <input class="recipe-disabled-input" type="text" disabled value="0" id="fatsTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">Vláknina</th>
                        <td class="text-center align-middle col-6">
                            <input class="recipe-disabled-input" type="text" disabled value="0" id="fibreTotal">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle col-3">kJ</th>
                        <td class="text-center align-middle col-6">
                            <input class="recipe-disabled-input" type="text" disabled value="0" id="kJTotal">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div class="container col-4 opacity-75">
                <textarea class="mt-5 form-control" id="recipeDescription" placeholder="Popis receptu" rows="20"
                          name="notes"></textarea>
                <div class="row mx-auto col-5">
                    <button type="submit" class="mt-5 btn btn-success btn-lg">Uložit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $('.recipeSelect').select2({
        //maximumSelectionLength: 1,
        minimumInputLength: 1,
        ajax: {
            url: '/ingredients/find',
            dataType: 'json',
            type: "GET",
            data: function (term) {
                return term;
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            id: item.id,
                            slug: item.name,
                            text: item.name
                        }
                    })
                };
            }
        }
    });

    //TODO overall Kj for each ingredient
    //TODO tooltip with nutrients
    //TODO posting list of ingredients with description to controller
    function calculateNutrients() {
        var proteins = 0, fats = 0, carbs = 0, fibre = 0, kJ = 0
        var ingrCount = $('#new_ingredient').children().length;
        for (i = 3; i < ingrCount; i++) {
            var wholeId = $('#new_ingredient').children()[i].id
            var id = wholeId.slice(wholeId.lastIndexOf('_') + 1, wholeId.length);
            var grams = $("#grams_" + id).val();
            if (grams !== "Vyberte ingredienci") {
                var gramCoef = grams / 100
                fats = Math.round(parseInt($("#nutr_fats_" + id).val()) * gramCoef)
                carbs = Math.round(parseInt($("##nutr_carbs_" + id).val()) * gramCoef)
                proteins = Math.round(parseInt($("#nutr_fibre_" + id).val()) * gramCoef)
                fibre = Math.round(parseInt($("#nutr_proteins_" + id).val()) * gramCoef)
                kJ = Math.round((carbs * 17 + proteins * 17) + (fats * 38))

                fatsTotal = Math.round(fatsTotal + fats)
                carbsTotal = Math.round(carbsTotal + carbs)
                fibreTotal = Math.round(fibreTotal + fibre)
                proteinsTotal = Math.round(proteinsTotal + proteins)
                kJTotal = Math.round((carbsTotal * 17 + proteinsTotal * 17) + (fatsTotal * 38))

                var content = "<table><tr><td>Sacharidy</td><td>"+carbs+"g</td></tr><tr><td>Proteiny</td><td>"+proteins+"g</td></tr><tr><td>Tuky</td><td>"+fats+"g</td></tr><tr><td>Vláknina</td><td>"+fibre+"g</td></tr><tr><td>kJ</td><td>"+kJ+"kJ</td></tr></table>";

                new bootstrap.Tooltip('#ingr_info_' + id, {
                    sanitize: false
                })
                // Returns a Bootstrap tooltip instance
                const tooltip = bootstrap.Tooltip.getInstance('#ingr_info_' + id)
                // setContent example
                tooltip.setContent({'.tooltip-inner': content})

            }

            $('#carbsTotal').val(carbsTotal);
            $('#proteinsTotal').val(proteinsTotal);
            $('#fatsTotal').val(fatsTotal);
            $('#fibreTotal').val(fibreTotal);
            $('#kJTotal').val(kJTotal);
        }
    }

    function addIngredient() {
        var total_ingredients = parseInt($('#total_ingredients').val()) + 1;
        var new_ingredient_no = 0;
        while ($('#recipeSelect_' + new_ingredient_no).val() != null) {
            new_ingredient_no += 1;
        }

        var new_input = '<tr id="ingredient_id_' + new_ingredient_no + '"> <td class="text-center align-middle col-6"> ' +
            '<select multiple="multiple" id="recipeSelect_' + new_ingredient_no + '" th:field="${recipe.ingredients}" class="form-control input-lg select2-calc"> </select> ' +
            '</td> <td class="text-center align-middle col-3"> <input onchange="calculateNutrients()" id="grams_' + new_ingredient_no + '" type="text" class="recipe-input form-control"> ' +
            '</td> <td class="text-center align-middle col-3"> <button type="button" class="btn ingr-button btn-secondary ingredient-tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-html="true" id="ingr_info_' + new_ingredient_no + '" data-bs-title=" ">i</button>' +
            '</td> <td class="text-center align-middle col-3"> <a type="button" id="remove_' + new_ingredient_no + '" class="btn btn-danger">X</a>' +
            '<input hidden id="nutr_fats_' + new_ingredient_no + '" type="text">' +
            '<input hidden id="nutr_carbs_' + new_ingredient_no + '" type="text">' +
            '<input hidden id="nutr_fibre_' + new_ingredient_no + '" type="text">' +
            '<input hidden id="nutr_proteins_' + new_ingredient_no + '" type="text">' +
            '</td></tr>';
        $('#new_ingredient').append(new_input);
        $('#total_ingredients').val(total_ingredients)

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        $("#grams_" + new_ingredient_no).prop("disabled", true);
        $("#grams_" + new_ingredient_no).val("Vyberte ingredienci");

        $('#remove_' + new_ingredient_no).click(function () {
            $(this).closest('tr').remove();
            $('#total_ingredients').val(parseInt($('#total_ingredients').val()) - 1);
            calculateNutrients()
        });

        $('#recipeSelect_' + new_ingredient_no).on('select2:select', function (e) {
            var data = e.params.data;
            $('#nutr_fats_' + new_ingredient_no).val(data.fats)
            $('#nutr_carbs_' + new_ingredient_no).val(data.carbs)
            $('#nutr_fibre_' + new_ingredient_no).val(data.fibre)
            $('#nutr_proteins_' + new_ingredient_no).val(data.proteins)
            $("#grams_" + new_ingredient_no).prop("disabled", false);
            $("#grams_" + new_ingredient_no).val("");
        });

        $('#recipeSelect_' + new_ingredient_no).on('select2:unselect', function (e) {
            $('#nutr_fats_' + new_ingredient_no).val(0)
            $('#nutr_carbs_' + new_ingredient_no).val(0)
            $('#nutr_fibre_' + new_ingredient_no).val(0)
            $('#nutr_proteins_' + new_ingredient_no).val(0)
            $("#grams_" + new_ingredient_no).prop("disabled", true);
            $("#grams_" + new_ingredient_no).val("Vyberte ingredienci");
            calculateNutrients()
        });

        $('#recipeSelect_' + new_ingredient_no).select2({
            maximumSelectionLength: 1,
            minimumInputLength: 1,
            ajax: {
                url: '/ingredients/find',
                dataType: 'json',
                type: "GET",
                data: function (term) {
                    return term;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                id: item.id,
                                slug: item.name,
                                text: item.name,
                                fats: item.fats,
                                proteins: item.proteins,
                                fibre: item.fibre,
                                carbs: item.carbohydrates
                            }
                        })
                    };
                }
            }
        });
    }

</script>

</body>
</html>