<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Přidat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="navbar :: navbar"></div>

<div id="ingredients-bg"></div>

<div>
    <form method="post" th:object="${ingredient}">
        <div class="container-fluid col-8 opacity-75 bg-dark">
            <table class="mt-5 table table-sm table-striped table-hover table-dark" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th class="text-center" colspan="5">
                        (hodnoty na 100g)
                    </th>
                </tr>
                <tr>
                    <th class="text-center col-2">
                        Název
                    </th>
                    <th class="text-center col-1">
                        Proteiny
                    </th>
                    <th class="text-center col-1">
                        Sacharidy
                    </th>
                    <th class="text-center col-1">
                        Tuky
                    </th>
                    <th class="text-center col-1">
                        Vláknina
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center align-middle">
                        <input th:field="${ingredient.name}" id="name" type="text" class="form-control">
                    </td>
                    <td class="text-center align-middle">
                        <input th:field="${ingredient.proteins}" id="proteins" type="number" class="form-control">
                    </td>
                    <td class="text-center align-middle">
                        <input th:field="${ingredient.carbohydrates}" id="carbohydrates" type="number" class="form-control">
                    </td>
                    <td class="text-center align-middle">
                        <input th:field="${ingredient.fats}" id="fats" type="number" class="form-control">
                    </td>
                    <td class="text-center align-middle">
                        <input th:field="${ingredient.fibre}" id="fibre" type="number" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="blue mt-3 mb-3 btn btn-primary">Uložit</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#proteins').val("")
        $('#carbohydrates').val("")
        $('#fats').val("")
        $('#fibre').val("")
    })
</script>
</body>
</html>