<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Ingredience</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <script src="https://nightly.datatables.net/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div th:insert="navbar :: navbar"></div>


<div layout:fragment="content">

    <h2>Seznam ingrediencí</h2>

    <table border="1">
        <thead>
        <tr>
            <th th:text="#{msg.id}" />
            <th th:text="#{msg.name}" />
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iStat : ${bookPage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${book.id}" />
            <td th:text="${book.name}" />
        </tr>
        </tbody>
    </table>
    <div th:if="${bookPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==bookPage.number + 1} ? active"></a>
    </div>

</div>
</body>
</html>