<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Ingredience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="navbar :: navbar"></div>

<div id="bg"></div>

<div>

    <div class="container-fluid col-12">
        <table class="mt-5 table table-sm table-striped table-hover table-dark">
            <thead>
            <tr>
                <th class="text-center col-1">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='id', sortDir=${reverseSortDir})}">
                        Id
                    </a>
                </th>
                <th class="text-center col-2">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='name', sortDir=${reverseSortDir})}">
                        Název
                    </a>
                </th>
                <th class="text-center col-1">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='proteins', sortDir=${reverseSortDir})}">
                        Proteiny
                    </a>
                </th>
                <th class="text-center col-1">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='carbohydrates', sortDir=${reverseSortDir})}">
                        Sacharidy
                    </a>
                </th>
                <th class="text-center col-1">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='fats', sortDir=${reverseSortDir})}">
                        Tuky
                    </a>
                </th>
                <th class="text-center col-1">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='fibre', sortDir=${reverseSortDir})}">
                        Vláknina
                    </a>
                </th>
                <th class="text-center col-1">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber}, sortField='kJ', sortDir=${reverseSortDir})}">
                        kJ
                    </a>
                </th>
                <th class="text-center col-1">
                </th>
                <th class="text-center col-1">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ingredient, iStat : ${ingredientPage.content}">
                <td class="text-center align-middle opacity-75" scope="row" th:text="${'#' + ingredient.id}"></td>
                <td class="text-center align-middle opacity-75" th:text="${ingredient.name}"></td>
                <td class="text-center align-middle opacity-75" th:text="${ingredient.proteins}"></td>
                <td class="text-center align-middle opacity-75" th:text="${ingredient.carbohydrates}"></td>
                <td class="text-center align-middle opacity-75" th:text="${ingredient.fats}"></td>
                <td class="text-center align-middle opacity-75" th:text="${ingredient.fibre}"></td>
                <td class="text-center align-middle opacity-75" th:text="${ingredient.kJ}"></td>
                <td class="text-center align-middle">
                    <a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}"
                       class="opacity-100 btn btn-primary">
                        Upravit
                    </a>
                </td>
                <td class="text-center align-middle">
                    <a th:href="@{/ingredients/delete/{ingredientId}/{currentPage}(ingredientId=${ingredient.id}, currentPage=${currentPage})}"
                       class="opacity-100 btn btn-danger">
                        Smazat
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="bg-dark opacity-75">
            <footer class="panel-footer text-center">
                <p style="color:white">
                    Celkem záznamů: [[${totalItems}]] : Stránka [[${currentPage}]] z [[${totalPages}]]
                </p>
            </footer>
            <ul class="mt-2 mb-2 pagination justify-content-center ">
                <li class="page-item"
                    th:if="${ingredientPage.totalPages > 1}">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=1)}" class="page-link">
                        První
                    </a>
                </li>
                <li class="page-item" th:classappend="${pageNumber==ingredientPage.number + 1} ? active"
                    th:if="${ingredientPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       class="page-link">
                    </a>
                </li>
                <li class="page-item"
                    th:if="${ingredientPage.totalPages > 1}">
                    <a th:href="@{/ingredients(size=${ingredientPage.size}, page=${totalPages})}" class="page-link">
                        Poslední
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>