.client-form {
    min-width: 300px;
}

#ingredients-bg {
    position: fixed;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('img/ingredients-bg.jpg');
}
#recipes-bg {
    position: fixed;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('img/recipe-bg.jpg');
}
#clients-bg {
    position: fixed;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('img/clients-bg.jpg');
}
#login-bg {
    position: fixed;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('img/login-bg.jpg');
}

.pagination > li > a {
    background-color: #000000;
    color: #ffffff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #8d8d8d;
}

.pagination > .active > a {
    color: #000000 !important;
    background-color: #ffffff !Important;
    border: solid 1px #000000 !Important;
}

.pagination > .active > a:hover {
    background-color: #ffffff !Important;
    border: #8d8d8d;
}

th a {
    text-decoration: none;
    color: white;
}

.blue {
    background: rgba(0, 0, 255, 1);
}

.red {
    background: rgba(255, 0, 0, 1);
}

.blue:hover {
    background: rgba(0, 0, 255, 0.3);
}

.red:hover {
    background: rgba(255, 0, 0, 0.3);
}
.table-input {
    text-align: center;
}