<th:block th:fragment="pagination" xmlns:th="http://www.thymeleaf.org">
  <!--/*@thymesVar id="page" type="cz.cmzf.application.web.utils.PageWrapper"*/-->
  <!--/*@thymesVar id="sort" type="org.springframework.data.domain.Sort"*/-->
  <div class="dataTables_wrapper" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    <div class="row">
      <div class="col-md-2">
        <select class="form-control custom-select" onchange="javascript:location.href = this.value;" style="max-width: 100px;">
          <option th:each='size : ${page.sizes}' th:selected="${page.size == size}" th:value="@{${urlBuilder.replaceQueryParam('page', 1).replaceQueryParam('size', size).replaceQueryParam('sort', sort).toUriString().replace('&sort=asc',',asc').replace('&sort=desc',',desc')}}" th:text="${size}"></option>
        </select>
        z <span th:text="${page.totalElements}"></span>
      </div>
      <div class="col-md-10 dataTables_paginate paging_simple_numbers"
           th:if="${page.isHasNext() or page.isHasPrevious()}">
        <ul class="pagination"><!--/* Previous Link
                */--><li th:class="${'paginate_button page-item previous' + (page.isHasPrevious()?'':' disabled') }">
            <!--<a class="page-link" th:href="@{${#httpServletRequest.requestURI}}" th:if="${page.number == 2}">&#8249;</a>-->
            <!--suppress ThymeleafVariablesResolveInspection -->
            <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page', page.number - 1).replaceQueryParam('size', page.size).replaceQueryParam('sort', sort).toUriString().replace('&sort=asc',',asc').replace('&sort=desc',',desc')}}">&#8249;</a>
          </li><!--/* Pages Links */--><li th:each='item : ${page.items}' th:class="${item.current}? 'paginate_button page-item active' : 'paginate_button page-item'">
            <div th:if="${item.number} == null" th:remove="tag">&nbsp;&nbsp;...&nbsp;&nbsp;</div>
            <div th:if="${item.number} != null" th:remove="tag">
              <!--<a class="page-link" th:href="@{${#httpServletRequest.requestURI}}" th:text="${item.number}" th:if="${item.number == 1}"></a>-->
              <!--suppress ThymeleafVariablesResolveInspection -->
              <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page', item.number).replaceQueryParam('size', page.size).replaceQueryParam('sort', sort).toUriString().replace('&sort=asc',',asc').replace('&sort=desc',',desc')}}" th:text="${item.number}"></a>
            </div>
          </li><!--/* Next Link
                    */--><li th:class="${'paginate_button page-item next' + (page.isHasNext()?'':' disabled') }">
            <!--suppress ThymeleafVariablesResolveInspection -->
            <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page', page.number + 1).replaceQueryParam('size', page.size).replaceQueryParam('sort', sort).toUriString().replace('&sort=asc',',asc').replace('&sort=desc',',desc')}}">&#8250;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</th:block>
